<html>
<head>
  <title>Todo List </title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <script
    src="https://code.jquery.com/jquery-1.11.2.min.js"
    integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="
    crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>

</head>


<body>
  <h1> To do list  </h1>
  <h2> To do List </h2>
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add new item..." required />
      <button type="submit">Add Item</button>
    </form>
    <ul>
    <% for(var i=0; i< todos.length; i++){ %>
      <li><%= todos[i].item %></li>
  <%  }  %>
    </ul>
</html>
